/[Ll]ibrary/
/[Tt]emp/
.utmp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
local.properties
*.alf
*.ulf
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.gradle/
ExportedObj/
.consulo/
sysinfo.txt
*.apk
*.aab
*.app
MemoryCaptures/
Recordings/

